{% extends 'layout/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    {% include 'sections/flashed-messages.html' %}
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="profile-img-container mx-auto mb-4">
          {% if user.profile.picture %}
          <img class="img-fluid" src="{{ url_for('static', filename='images/profiles' + '/' + user.profile.picture) }}" alt="{{ user.profile.name }} {{ user.profile.last_name }}">
          {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="#399de4" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
            </svg>
          {% endif %}
        </div>
        <h1 class="fw-light">{{ user.profile.name }} {{ user.profile.last_name }}</h1>
        <p class="text-muted">
          <span class="me-4"><i class="bi bi-envelope"></i> {{ user.email }}</span>
          <span class="me-4"><i class="bi bi-phone"></i> {{ user.profile.phone }}</span>
          <span><i class="bi bi-geo-alt"></i> {{ user.profile.city }}, {{ user.profile.country.name }}</span>
        </p>
        <p class="lead text-muted">
          {% if user.profile.bio %}
          {{ user.profile.bio }}
          {% else %}
          [Add a bio]
          {% endif %}
        </p>
        <p>
          {% if not current_user == user %}
          <a href="{{ url_for('users.chat_to', user_id=user.user_id) }}" class="btn btn-primary my-2"><i class="bi bi-chat-left-dots"></i>  Send message</a>
          {% else %}
          <a href="{{ url_for('users.edit', user_id=user.user_id) }}" class="btn btn-primary my-2"><i class="bi bi-pencil-square"></i> Edit profile</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
            <div class="mb-5">
        <h2>Tours by me</h2>
        </div>
      </div>
      {% include 'sections/tours-list.html' %}
    </div>
  </div>
{% endblock %}