{% set show_nav = False %}
{% extends 'layout/base.html' %}
{% block title %}Sign up for an account{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-12 col-sm-5 col-md-5 d-flex align-items-center">
            <div class="w-75 mx-auto">
                <form method="post">
                    {{ form.csrf_token }}
                    <div class="my-5 mx-auto" style="max-width: 400px">
                        <a href="{{ url_for('pages.about') }}">
                            <img class="img-fluid" src="{{ url_for('static', filename='images/cicero_color.png') }}" alt="Cicero Travelers" class="d-inline-block align-top">
                        </a>
                    </div>
                    {% if sent %}
                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Thanks for signing up!</h4>
                      <p>A verification mail has been sent to your email account. Please check your inbox to complete your registration.</p>
                      <hr>
                      <p class="mb-0">Email can be funny, so it may end up in your spam folder.</p>
                    </div>
                    {% endif %}
                    <div class="mb-4">
                        <h1 class="h4">Sign up for an account as a {% if account_type == 'guide' %}guide{%else%}tourist{% endif %}</h1>
                        <p>Enter your email and complete the steps to create your account.</p>
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <div class="mb-3">
                        {{ form.email.label(class_="form-label" ) }}
                        {{ form.email(class_="form-control") }}
                        {% for error in form.email.errors %}
                         <div class="invalid-feedback d-block">
                           {{ error }}
                         </div>
                        {% endfor %}
                    </div>
                    {{ form.submit(class_="btn btn-primary") }}
                    <div class="my-5">
                        <a href="{{ url_for('signup.sign_up', account_type='guide') }}">Sign up as a guide? Click here.</a>
                    </div>
                </form>
            </div>
        </div>
        <div id="signup-featured-img" class="col-12 col-sm-6 col-md-7">

        </div>
    </div>
</div>
{% endblock %}