{% extends 'layout/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" src="static\images\guatape.jpg" alt="First slide">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Cicero Travelers</h1>
            <p>Revolutionize the way you experience tourism</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide" src="https://images.pexels.com/photos/5935259/pexels-photo-5935259.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Second slide">

        <div class="container">
          <div class="carousel-caption">
            <h1>Local Guides.</h1>
            <p>Friendly local guides leading tourist in an adventurous discovery of the unknown places in the world</p>
            <p> </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide" src="https://images.pexels.com/photos/1384003/pexels-photo-1384003.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Third slide">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Completely free</h1>
            <p>No type of fee for guides or users. Come and join us!</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
  <div class="row">
    <div class="col-12">
      {% include 'sections/search-form.html' %}
    </div>
  </div>
</div>


<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
          <img class="img-fluid" src="{{ url_for('static', filename='images/guide.jpg') }}" alt="Cicero Travelers" class="d-inline-block align-top">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->

        <h2>Be a guide!</h2>
        <p>Sign up as guide and get ready to meet extraordinary people and people eager for adventure, to know fantastic places in tours created and provided by you</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
            <img class="img-fluid" src="{{ url_for('static', filename='images/tourist.jpg') }}" alt="Cicero Travelers" class="d-inline-block align-top">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->

        <h2>Be a tourist!</h2>
        <p>Register as a tourist and get ready to meet some of the friendliest guides in the city who are eager not only to give you a tour of the places in the town but also to make friends.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-fluid" src="{{ url_for('static', filename='images/places.jpg') }}" alt="Cicero Travelers" class="d-inline-block align-top">

        <h2>Visit amazing places</h2>
        <p>Come to unknown places which you will not see in a conventional tour, that only one of our local guides can know</p>

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Don't you know if you can be a guide? <span class="text-muted">Don't worry! </span></h2>
        <p class="lead">To be a guide you just need to be willing to do it. Be kind, want to meet new people and take them to fantastic and hidden places in the city that only you know. It is also preferable to know more than one language to facilitate communication with foreigners. You don't have to be an expert!</p>
      </div>
      <div class="col-md-5">
             <img class="img-fluid" src="{{ url_for('static', filename='images/question.jpg') }}" alt="Cicero Travelers" class="d-inline-block align-top">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Surely everyone who goes to Rome visits the Colosseum<span class="text-muted"> </span></h2>
        <p class="lead">But how many go to that little pizzeria on the outskirts of the city that makes one of the best pizzas in the country? You will have the opportunity to know not only the main tourist attractions of the city that you will visit but also those small and fantastic places that only a resident of the place can know.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="img-fluid" src="{{ url_for('static', filename='images/place2.jpg') }}" alt="Cicero Travelers" class="d-inline-block align-top">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> What are you waiting to register? <span class="text-muted">Live tourism like never before</span></h2>
        <p class="lead"> We not only connect guides with tourists, we create new experiences, we create friendships</p>
      </div>
      <div class="col-md-5">
        <img class="img-fluid" src="{{ url_for('static', filename='images/two.jpg') }}" alt="Cicero Travelers" class="d-inline-block align-top">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
{% endblock %}l>