/**
    Imports
**/
@import 'signup.css';
@import 'homepage.css';
@import 'bootstrap-icons.css';
@import 'chat.css';


/**
   Common CSS
**/
html {
    min-height: 100%;
}
body {
    min-height: 100vh;
}

.card-img-container {
    overflow: hidden;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5d5d5d;
}

.profile-img-container,
.card-pic-container {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #c7e3f7;
}

.profile-img-container {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}


.favorite-btn-container {
    background-color: #fdffe0;
    border-radius: 8px;
    display: inline-block;
}