{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% set category_classes = {"error": "alert-danger", "info": "alert-info", "success": "alert-success"} %}
        {% for category, message in messages %}
        <div class="alert {{ category_classes[category] | default('alert-secondary') }} alert-dismissible fade show my-4" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

